.row {
	padding-top: 65px;
}

.selectize-input.items, div.selectize-input.items.not-full.has-options.has-items, .form-control {
        height: 45px;
	padding: 9px 12px;
	vertical-align: middle;
}

textarea.form-control {
	min-height: 45px;
	border-radius: 4px;
}

.shiny-notification {
	position: fixed; 
	top: 50px;
	left: 0%; 
	right: 0%;
	opacity: .9;
	text-align: center;
	font-size: 120%;
} 

nav div ul li {
	width: 15%;
	min-width: 160px;
 	text-align: center;
	border-left: solid 1px Grey;
}

.shiny-input-container:not(.shiny-input-container-inline) {
	width: 100%;
}

table.dataTable tbody tr {
	height: 35px;
}

table.dataTable tbody td {
	padding: 10px 18px;
}